/* Estilos generales para pantallas más grandes */
body {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Media query para pantallas más pequeñas (ej. dispositivos móviles) */
@media only screen and (max-width: 1080px) {
    body {
        font-size: 12px;
    }
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Otra opción: justify-content: space-around; */
}

.columna {
    width: 100%; /* O el porcentaje deseado para pantallas pequeñas */
    box-sizing: border-box; /* Evita que el padding afecte al ancho total */
    padding: 10px; /* Ajusta el relleno según tus necesidades */
}

@media only screen and (min-width: 1000px) {
    .columna {
        width: 48%; /* O el porcentaje deseado para pantallas más grandes */
    }
}

img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción original de la imagen */
}
.arido{
   
    width: 100%;
    height: auto;
    border: 1PX SOLID black;
}
.timepickers{
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.txtboxtrans{
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 20px;
}
.LABELTITTLE{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.tablacentrada{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    font-weight: BOLD;
}
.titulotabla{
    border: 1px solid black;
    width: 100%;
    background-color: wheat;
}
.txtboxtabla{
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
    padding: 1px;
}
.datosNormal{
    border: 1px solid black;
    width: 50px;
   font-size: 12px;
}
.datosl{
    border: 1px solid black;
    width: 200px;
   
}
.titulodatos{
    border: 1px solid black;
    padding: 0;
    margin: 0;

}
.titulo{
    margin-right: 20px;
}
.datosS{
    border: 1px solid black;
    width: 30px;
    font-size: 12px;
}
.textareas{
    background-color: transparent;
    border: 0px;
    width: 100%;
}
.textareasS{
    background-color: transparent;
    border: 0px;
    background-color: transparent;
    border: 0px;
    
    padding: 0;
    margin: 0;
}
.bordeschild{
    border: 1px black solid;
}
.titulotablaLAVADO{
    border: 1px solid black;
    width: 100%;
    background-color: rgb(143, 242, 255);
}
.titulotablaFERIA{
    border: 1px solid black;
    width: 100%;
    background-color: rgb(143, 255, 171);
}
.textDireccion1{
    border: 1px solid black;
    width: 200px;
    background-color: rgb(197, 255, 207);
}
.datosNormal2{
    border: 1px solid black;
    width: 50px;
   font-size: 12px;
   background-color: rgb(197, 255, 207);
}
.datosS1{
    border: 1px solid black;
    width: 30px;
    font-size: 12px;
    background-color: rgb(197, 255, 207);
}
.datosS2{
    border: 1px solid black;
    width: 30px;
    font-size: 12px;
    background-color: rgb(151, 222, 255);
}
.datosNormal1{
    border: 1px solid black;
    width: 50px;
   font-size: 12px;
   background-color: rgb(197, 255, 207);

}
.textDireccion2{
    border: 1px solid black;
    width: 200px;
    background-color: rgb(151, 222, 255);
}
.datosNormal2{
    border: 1px solid black;
    width: 50px;
   font-size: 12px;
   background-color: rgb(151, 222, 255);
}